<h2>Contact Us</h2>
<address>
    One BlueBox Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:donotemailsupport@example.com">donotemailsupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:donotemailmarketing@example.com">donotemailmarketing@example.com</a>
</address>
